:host {
  display: inline-block;
  box-sizing: border-box;
  width: 100vw;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: inherit;
}
